div{
    text-align: center;
    background-color: ;
    position: relative;
    background-color:gray;
}
.c2{
    border: 2px solid ;
    width: 19%;
    margin-top: 250px;
    height: 494px;
    border-radius: 25px;
}
.c3{
    height: 300px;
}
button{
    margin-top:  30px;
    
}
.c4{
    position: absolute; 
    left: 20px;
    width: 17%;
    color: gray;
}
.c5{
    position: absolute;
    left: 106px;
    width: 17%;
    color: gray;
}
.c6{
    width: 17%;
    position:absolute;
    left: 189px;
    color: gray;
}
.c7{
    width: 17%;
   position: relative; 
    left: 127px;
    background-color: black;
    color: white;   
}
.c7:hover{
    background-color: red;
}
@media(max-width:1510px) 
{
    .c2{
        font-size: 15px;
    width: 389px;
    left: 10px;
    position: relative;
   
    }
}


